<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #1b1f22;">
    <a class="navbar-brand" href="/">
        <img src="/img/logo.png" class="d-inline-block align-top navbar-logo" alt="Leatherbacks">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                    <a class="dropdown-item" href="/about/">Our Team</a>
                    <a class="dropdown-item" href="/about/combat-robotics">Combat Robotics</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/robots">Our Robots</a></li>
            <li class="nav-item"><a class="nav-link" href="/supportus">Support Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/sponsors">Sponsors</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            &nbsp;&nbsp;

        </ul>
    </div>
</nav>